body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 249, 233);
    color: #646363;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 27px;
}
.main{
    padding-top: 124px;
    width: 100%;
}

/* 

Colors

ambar oscuro: #FFA000
ambar claro: #FFECB3
ambar: #FFC107

textos: #212121
accent (verde): #009688
textos secondary: #757575

*/
h1,h2,h3{
    font-family: 'Girassol', cursive;
    font-weight: normal;
    color: #164341;
    text-transform: uppercase;
}
h4,h5,h6{
    font-family: 'Lora', serif;
    font-weight: normal;
    /* text-decoration: underline; */
    color: #164341;
    /* text-transform: uppercase; */
}
h1{
    font-size: 50px;
    line-height: 80px;
}
h2{
    font-size: 40px;
    line-height: 65px;
}
h1::after{
    content: "";
    display: block;
    margin: 0px 48px;
    border: 0.5px solid #FFC107;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 24px;
    line-height: 30px;
}
h6{
    margin:0;
    font-size: 20px;
    line-height: 39px;
}
ul{
    list-style-type: square;
}
p,li{
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 30px;
}
a{
    /* text-decoration: none; */
    color: #164341;
    font-family: 'Lora', serif;
    font-size: 22px;
    line-height: 36px;
}
li{
    margin: 4px 0px;
    list-style-type: disc;
}
.splash{
    width: 100%;
    border-top: 12px solid #FFC107;
}
.top-logo{
    display: flex;
    flex-flow: column;
    background-color: #164341;
    align-items: center;
    padding: 64px;
}
#slogan{
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 30px;
    color: #FFC107;
}
.section{
    padding: 0px 24px 24px 24px;
    text-align: center;
}
#about{
    padding: 18px;
}
.btn{
    display: block;
    text-decoration: none;
    padding: 16px;
    border: 1px solid #164341;
    color: white;
    background-color: #206360;
    /* box-shadow: 8px 8px 0px 0px #FFA000; */
    margin: 36px 0px;
    text-align: center;
}
.important{
    font-size: 22px;
    line-height: 35px;
    color: #164341;
    font-style: italic;
}
.section-image--rounded{
    width: 100%;
}
.dish-name{
    font-size: 28px;
    line-height: 40px;
    color: #164341;
    /* border-bottom: 1px solid #FFC107; */
}
.dish-type-image{
    width: 25px;
}
.dish-info{
    padding-bottom: 24px;
}
thead{
    font-size: 18px;
    text-align: left;
}
td {
    /* border: 1px solid #164341; */
    
    min-width: 50px;
    padding: 8px;
}
table{
    text-align: left;
    margin-bottom: 36px;
}
.form-item{
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
.form-section{
    text-align: left;
}
.form-item input,textarea,select,label{
    font-family: 'Lora', serif;
    font-size: 18px;
    padding: 8px;
}
.form-item input,textarea,select{
    border: 1px solid #164341;
}
.form-btn{
    font-size: 24px;
    line-height: 36px;
}
.servicio{
    padding: 0px 24px 24px 24px;
    text-align: left;
}
.section-body{
    padding: 0px 16px;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    border: none;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    background-color: #164341;
}
nav ul{
    color: #FFC107;
}
nav li{
    list-style-type: none;
}
nav a {
    line-height: 20px;
}
#nav-menu-button{
    fill: #fcc82b;
}
/* .activo #nav-menu-button{
    fill: #FFC107;
} */
.toggle-menu {
    font-size: 32px;
    padding: 8px 8px;
    /* border: 1px solid #FFC107;  */
    border-radius: 8px;
}
.activo{
    /* border: 1px solid #fcc82b;  */
    background-color: #143a38;
}
.nav-links {
    display: none;
    width: auto;
}
.nav-links a{
    /* display: block; */
}
.dropdown {
    /* z-index: 1;
    position: absolute; */
    background-color: #164341;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px -14px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
.dropdown ul {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    margin: 0px 12px 18px 12px;
    padding: 0px;
    text-align: center;
    /* width: 100%; */
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 24px 30px;
}
.menu-nav{
    align-items: center;
}
.logo-navbar{
    /* margin-left: 4px; */
    width: 160px;
}
.nav-links{
    /* margin-right: 42px; */
}
.nav-links a{
    text-decoration: none;
    color: #FFC107;
}
/* #slogan{
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 30px;
    color: #FFC107;
} */