body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 249, 233);
    color: #212121;
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 27px;
}
.main{
    width: 100%;
}
/* 

Colors

ambar oscuro: #FFA000
ambar claro: #FFECB3
ambar: #FFC107

textos: #212121
accent (verde): #009688
textos secondary: #757575

*/
h1,h2,h3{
    font-family: 'Girassol', cursive;
    font-weight: normal;
    color: #FFA000;
}
h4,h5,h6{
    font-family: 'Lora', serif;
    /* text-decoration: underline; */
    color: #FFA000;
}
h1{
    font-size: 50px;
    line-height: 80px;
    text-transform: uppercase;
}
h2{
    font-size: 40px;
    line-height: 65px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 30px;
}
ul{
    list-style-type: square;
}
p,li{
    font-family: 'Lora', serif;
    font-size: 20px;
    line-height: 30px;
}
a {
    /* text-decoration: none; */
    color: #009688;
    font-family: 'Lora', serif;
    font-size: 22px;
}
.splash{
    width: 100%;
    /* border-top: 12px solid #FFA000; */
}
.top-logo{
    background-color: #009688;
    text-align: center;
}
#top-logo-image{
    width: 66%;
    padding: 64px;
}
#about{
    text-align: center;
    /* padding: 0px 36px; */
}
.section{
    padding: 0px 24px 24px 24px;
}
.btn{
    display: block;
    text-decoration: none;
    padding: 16px 32px;
    background-color: #009688;
    color: #ffffff;
    box-shadow: 8px 8px 0px 0px #FFA000;
    margin: 36px 0px;
}
.important{
    font-size: 22px;
    line-height: 35px;
    color: #009688;
    font-style: italic;
}
.section-image--rounded{
    width: 100%;
}
.nombre-plato{
    font-size: 30px;
    line-height: 40px;
}
thead{
    font-size: 18px;
    text-align: left;
}
td {
    /* border: 1px solid #333; */
    min-width: 50px;
    padding: 4px;
}